@font-face
    font-family 'Play-Regular'
    src url('/fonts/Play-Regular.ttf')
@font-face
    font-weight bold
    font-family 'Play-Bold'
    src url('/fonts/Play-Bold.ttf')

*
    margin 0
    padding 0
    border 0

.App
    display flex
    flex-direction column
    height 100vh
    padding 50px 0
    margin 0 auto
    box-sizing border-box
    font-size 24px
    font-family 'Play-Regular'
    overflow-y auto

    &__section

        &_users
            position sticky
            top -50px
            padding-bottom 10px
            background-color rgba(255,255,255,.9)
            transition box-shadow .1s ease-out
            z-index 2

        &_border-bottom
            box-shadow 0 1px 0 rgba(0,0,0,.1)

    &__content
        width 1000px
        max-width 100%
        padding 0 50px
        margin auto
        box-sizing border-box

    &__title
        margin-bottom 50px

    &__subtitle
        opacity .6
        margin 20px 0
        text-transform capitalize

    &__search
        position relative
        display flex
        flex-direction column

        &-controls
            max-height 60px
            display flex

        &-float
            position fixed
            right 20px
            top 20px
            transition .1s ease-out
            transition-property transform, opacity
            transform translateY(-50px)
            opacity 0
            z-index 3

            &_visible
                transform translateY(0px)
                opacity 1

    &__spinner
        margin-left 10px

    &__error
        width 100%
        display flex
        align-items center
        justify-content center
        padding 12px
        box-sizing border-box
        font-size 80%
        background-color rgba(255,0,0,.2)

    &__users
        display flex
        overflow-x auto
        padding-top 4px

    &__user
        position relative
        width 50px
        max-width 50px
        margin 5px 10px 5px 5px

        &-playtime
            position absolute
            left 0
            top 0
            height 100%
            width 100%
            transition clip .2s ease-out
            pointer-events none
            background-color rgba(30, 200, 30, .7)
            border-radius 50%
            transform rotateZ(180deg)

    &__more
        display inline-flex
        padding 20px
        margin 10px 44px 30px
        box-sizing border-box
        cursor pointer
        vertical-align middle
        transition all .1s ease-out
        user-select none

        &:hover
            opacity .7
            transform scale(1.05)

    @media screen and (max-width: 500px)
        padding-top 20px
        padding-bottom 20px

        &__section
            &_users
                top -20px

        &__content
            padding-right 20px
            padding-left 20px
            font-size 20px

        &__title
            margin-bottom 20px
