outline(color)
    box-shadow inset 0 0 0 2px #000

.Game
    display flex
    margin 10px 5px
    border-radius 3px
    cursor pointer

    &__icon
        display flex
        align-items center
        justify-content center
        height 50px
        width 50px
        min-width 50px
        z-index 1
        background-size 100%
        border-radius 5px

    &__description
        display flex
        align-items center
        padding 10px
        margin-left -4px
        border-top-right-radius 3px
        border-bottom-right-radius 3px
        transition box-shadow .1s ease-out

    &:hover &__description
        background-color rgba(0,0,0,.05)

    &_selected &

        &:hover
        &__icon
            border-top-right-radius 0
            border-bottom-right-radius 0

        &__description
            background-color rgba(0,0,0,.1)
            outline(#000)

    &__title
        font-family 'Play-Bold'

    &__link
        margin-left 5px
        margin-bottom -7px
